<h2 style="margin:10px; 0;">Edit Profile</h2>

  <div class="form-group">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div style="min-width:30%;float:left;margin:0 20px;">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username, autocomplete: "username", class:"form-control form-control-sm" %>
        </div>

        <div class="field">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, autocomplete: "firstname", class:"form-control form-control-sm" %>
        </div>

        <div class="field">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, autocomplete: "lastname", class:"form-control form-control-sm" %>
        </div><br/>

        <div class="field">
          <%= f.label :birthday %>
          <%= f.date_field :birthday, max: Date.today, class:"form-control form-control-sm" %>
        </div><br/>

        <div class="field">
          <%= f.label :gender %>
                <%= f.select :gender , options_for_select(User::GENDER), {}, {class:"custom-select custom-select-sm"}%>
        </div>
      </div>
    
      <div style="float:left;margin-left:30px;">
        <div class="field" style="margin-bottom:10px;">
          <%= f.label :password %> 
          <% if @minimum_password_length %>
            <em> (<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "(leave blank if you don't want to change it)", class:"form-control form-control-sm" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"New Password Confirmation", class:"form-control form-control-sm" %>
        </div><br/>

        <div class="field" style="min-height:200px; padding:5px;">
          <div style="float:left;padding:10px 0;">
              <%= render "users/profile_pic"%>
          </div>
          <div style="float:right;margin: 30px 0 0 40px;">
            <%= f.label "Update profile image:" %><br/>
            <%= f.file_field :profile_image%>
          </div>
        </div><br/>

        <div class="field">
          <strong><i>  **(we need your current password to confirm your changes)</i></strong>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", class:"form-control form-control-sm" %>
        </div><br/>

        <div class="actions">
          <%= f.submit "Update",class:"btn btn-outline-dark btn-block" %>
        </div>
      </div>

    <% end %>
  </div>


<div class="card border-danger mb-3" style="float:right; margin-right:30px;";>
  <h5 class="card-header">Delete Account!!</h5>
  <div class="card-body">
    <p class="card-text">Unhappy?</p>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
  </div>
</div>
