<h2 style="margin:10px; 0;">Edit Profile</h2>

<div class="form-group">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="field">
        <%= f.label :email, style:"margin:0;"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm", style:"margin-bottom:12px;"%>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :username, style:"margin:0;"%>
        <%= f.text_field :username, autocomplete: "username", class:"form-control form-control-sm", style:"margin-bottom:12px;" %>
      </div>

      <div class="field">
        <%= f.label :firstname, style:"margin:0;" %>
        <%= f.text_field :firstname, autocomplete: "firstname", class:"form-control form-control-sm", style:"margin-bottom:12px;" %>
      </div>

      <div class="field">
        <%= f.label :lastname, style:"margin:0;" %>
        <%= f.text_field :lastname, autocomplete: "lastname", class:"form-control form-control-sm", style:"margin-bottom:12px;" %>
      </div>

      <div class="field">
        <%= f.label :birthday, style:"margin:0;" %>
        <%= f.date_field :birthday, max: Date.today, class:"form-control form-control-sm", style:"margin-bottom:12px;" %>
      </div>

      <div class="field">
        <%= f.label :gender, style:"margin:0;" %>
        <%= f.select :gender , options_for_select(User::GENDER), {}, {class:"custom-select custom-select-sm"}%>
      </div>

    </div>
    <div class="col-md-6 col-sm-12" style="max-width:500px;">
      <div class="field">
        <%= f.label :password, style:"margin:0;" %>
        <% if @minimum_password_length %>
        <em> (<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "(leave blank if you don't want to change it)", class:"form-control form-control-sm" %>
      </div>

      <div class="field my-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"New Password Confirmation", class:"form-control form-control-sm" %>
      </div><br />

      <div class="container">
        <div class="row">

          <div class="col-6">
            <div class="field">
              <%= render "users/profile_pic"%>
            </div>
          </div>

          <div class="col-6">
            <%= f.label "Update profile image:" %><br />
            <%= f.file_field :profile_image%>
          </div>

        </div>
      </div>

      <div class="field my-4">
        <strong><i> **(we need your current password to confirm your changes)</i></strong>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", class:"form-control form-control-sm" %>
      </div>

      <div class="actions">
        <%= f.submit "Update",class:"btn btn-outline-dark btn-block" %>
      </div>
      <% end %>
    </div>

    <div class="col-md-2 col-sm-12" style="margin-left:50px;">
      <div class="card border-danger text-center" style="width: 14rem;">
        <h5 class="card-header">Delete Account!!</h5>
        <div class="card-body">
          <p class="card-text">Unhappy?</p>
          <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
        </div>
      </div>
    </div>

  </div>

</div>