<h1>Registered users list</h1>

<table>
  <thead>

    <tr>
      <th> Name </th>
      <th></th>
    </tr>

  </thead>

  <tbody>
    <% @users.each_with_index do |user,i|%>

      <tr>
        <td><%= "#{i+1}. " + user.name%></td>
        <td></td>
        <td>
          <% if @friend_ids.include?(user.id) %>
            <%= link_to "See profile", user_path(id: user.id) %> | 
            <%= link_to "Unfriend", friendship_path(user), method: :DELETE %>
          
          <% else %>
            
            <% unless @requests.include?(user.id) %>
              <%= link_to "Add Friend", friend_requests_path(friend_request: {user_id: user.id, req_received_id: current_user.id}), method: :post %>
            <% else %>
              <%= link_to "Cancel Request", friend_request_path(user), method: :DELETE %>
            <% end %>
          
          <% end %>
        </td>
      </tr>

    <%end%>
  </tbody>
</table> 