<div >
  <% if @user.id == current_user.id%>
    <h2>Your Profile</h2>
  <% else %>
    <h2><%= @user.firstname.capitalize + "'s"%> Profile</h2>
  <% end %>
</div>

<div style="margin-top:30px;">

  <div style="float:left;padding:10px;border: 1px solid black;" > 
    <%= render "users/profile_pic"%>
  </div>

  <div style="float:left;padding-left:50px;"> 
    <table>
      <tr>
        <td style="padding:5px 0;"><strong>Username: </strong></td>
        <td style="padding:0 10px;"><%= @user.username %></td>
      </tr>
      <tr>
        <td style="padding:5px 0;"><strong>Name: </strong></td>
        <td style="padding:0 10px;"><%= @user.name %></td>
      </tr>
      <tr>
        <td style="padding:5px 0;"><strong>Email: </strong></td>
        <td style="padding:0 10px;"><%= @user.email %></td>
      </tr>
      <tr>
        <td style="padding:5px 0;"><strong>Date of Birtday: </strong></td>
        <td style="padding:0 10px;"><%= @user.birthday.strftime("%d-%B-%Y") %></td>
      </tr>
      <tr>
        <td style="padding:5px 0;"><strong>Gender: </strong></td>
        <td style="padding:0 10px;"><%= @user.gender %></td>
      </tr>
    </table>
    <br/>

    <div>
      <p><%= link_to "Friends list", friendship_path(id: @user.id), class:"btn btn-outline-dark btn-sm"%>
          <% if @user.id == current_user.id%> 
          | <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-outline-dark btn-sm"  %>
          <% end %>
      </p>
    </div>

  </div>

</div>