<% posts.each do |post|%><hr/>


<div class="row">
  <div class="col">
    <p><strong><%= post.user.name%></strong> <%="[ #{time_ago_in_words(post.created_at)} ago]"%></p>
  </div>
  
  <div class="col-2">
    <p style="text-align:right;margin:0;">
      <% if post.user == current_user%>
      <%= link_to "Edit", edit_post_path(post), class:"btn btn-outline-dark btn-sm"%> | 
      <%= link_to "Delete", post_path(post), method: :DELETE, class:"btn btn-outline-dark btn-sm" %>
      <% end %> </p>
  </div>
</div>

  <div style="overflow:visible;">
   <%= post.text%>
  </div>

  <div>
    <%post.post_images.each do |image|%>
      <%= image_tag(image, style:"width:auto;height:300px;padding:4px 2px;")%>
    <%end%>

    <div>
      <%= render partial: "post_likes/like_share_bar", locals: {post: post}%>
    </div>

    <div style="margin-top:20px; width:50%;">
      <%= render partial: "comments/form", locals: {post: post}%>
      <%= render partial: "comments/comments", locals: {post: post}%>
    </div>

  </div>

<%end%>
